<h1>Informace o stránce</h1>
<p> <b>Jen jsem si tak zkoušela co to bude dělat</b>:D</p>
<p> <big> <big> <big> <big> <big> Dneska není moc hezky, ale to nevadí</big> </big> </big> </big> </big>:)</p>
<p> <big> Dneska není moc hezky, ale to nevadí</big> :)</p>
<p> <font color="red" face="Arial, Helvetica">Prsi a prsi a prsi a prsi</font></p>
<p> <blink> Stránka vytvořena na Railsgirls Praha </blink> :)</p>